.font-xxl{
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Poppins", sans-serif;
  font-weight: 600;

}

.font-xxl{
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Roboto", sans-serif;
  font-weight: 600;

}

.font-xl {
  font-size: 2.5rem;
  line-height: 1.35;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.font2-xl {
  font-size: 2.5rem;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-l {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.font2-l {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font-m {
  font-size: 1.25rem;
  line-height: 1.35;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.font2-m {
  font-size: 1.25rem;
  line-height: 1.35;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.font-s {
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.font2-s {
  font-size: 1rem;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.font-xs {
  font-size: 0.875rem;
  line-height: 1.43;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.font2-xs {
  font-size: 0.875rem;
  line-height: 1.43;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
